In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('sales_pipeline.csv')
df

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0
...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN

In [13]:
df = df.drop_duplicates()
df = df.dropna()
df

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0
...,...,...,...,...,...,...,...,...
8295,2EBLR9N8,Lajuana Vencill,GTX Basic,Conecom,Won,2017-12-24,2017-12-26,622.0
8296,VDGA4KXA,Violet Mclelland,GTX Plus Basic,Bluth Company,Won,2017-12-24,2017-12-30,1093.0
8297,6WCNNK5J,Maureen Marcano,GTXPro,Hottechi,Won,2017-12-26,2017-12-29,4433.0
8298,YJTQSZ9D,Gladys Colclough,GTX Plus Basic,Inity,Won,2017-12-27,2017-12-30,1052.0
8299,RB8GDYFY,Gladys Colclough,MG Special,Betatech,Won,2017-12-27,2017-12-29,67.0

In [14]:
df_2 = pd.read_csv('accounts.csv')
df_2

,account,sector,year_established,revenue,employees,office_location,subsidiary_of
0,Acme Corporation,technolgy,1996,1100.04,2822,United States,NaN
1,Betasoloin,medical,1999,251.41,495,United States,NaN
2,Betatech,medical,1986,647.18,1185,Kenya,NaN
3,Bioholding,medical,2012,587.34,1356,Philipines,NaN
4,Bioplex,medical,1991,326.82,1016,United States,NaN
...,...,...,...,...,...,...,...
80,Zathunicon,retail,2010,71.12,144,United States,NaN
81,Zencorporation,technolgy,2011,40.79,142,China,NaN
82,Zoomit,entertainment,1992,324.19,978,United States,NaN
83,Zotware,software,1979,4478.47,13809,United States,NaN
84,Zumgoity,medical,1984,441.08,1210,United States,NaN

In [15]:
df_2 = df_2.drop_duplicates()
df_2 = df_2.dropna()
df_2

,account,sector,year_established,revenue,employees,office_location,subsidiary_of
6,Bluth Company,technolgy,1993,1242.32,3027,United States,Acme Corporation
9,Cheers,entertainment,1993,4269.90,6472,United States,Massive Dynamic
10,Codehow,software,1998,2714.90,2641,United States,Acme Corporation
13,Dalttechnology,software,2013,98.79,96,United States,Bubba Gump
14,dambase,marketing,1995,2173.98,2928,United States,Inity
17,Donquadtech,technolgy,1992,1712.68,3194,United States,Acme Corporation
21,Faxquote,telecommunications,1995,1825.82,5595,United States,Sonron
24,Funholding,finance,1991,2819.50,7227,United States,Golddex
29,Gogozoom,telecommunications,2007,86.68,187,United States,Sonron
39,Iselectrics,technolgy,2011,527.11,1428,United States,Acme Corporation
49,Nam-zim,services,1987,405.59,1179,Brazil,Warephase
60,Scotfind,software,1996,6354.87,16780,United States,Bubba Gump
61,Scottech,marketing,2012,45.39,100,United States,Inity
72,Treequote,telecommunications,1988,5266.09,8595,United States,Sonron
74,Vehement Capital Partners,finance,1993,646.10,883,United States,Golddex

In [16]:
df = df.to_excel('cleaned_sales_pipeline.xlsx', index = False)
df_2 = df_2.to_excel('cleaned_accounts.xlsx', index = False)
print("meow!")

meow!